.photo-grid {
  padding-top: 93px;
}

@media screen and (max-width: 1020px) {
  .photo-grid {
    padding-top: 89px;
  }
}
@media screen and (max-width: 760px) {
  .photo-grid {
    padding-top: 64px;
  }
}
