.places {
  padding: 12px 148px 92px;
}

@media screen and (max-width: 1200px) {
  .places {
    padding: 12px 48px 92px;
  }
}
@media screen and (max-width: 1020px) {
  .places {
    padding: 16px 24px 90px;
  }
}
@media screen and (max-width: 760px) {
  .places {
    padding: 12px 0 66px;
  }
}
