.places__link {
  grid-area: url;
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  text-decoration: underline;
  color: #fff;
  align-self: end;
}

@media screen and (max-width: 760px) {
  .places__link {
    padding-left: 16px;
  }
}
