.header {
  box-sizing: border-box;
  display: flex;
  max-width: 1280px;
  /* height: 52px; */
  justify-content: space-between;
  padding: 30px 48px 0;
}

@media screen and (max-width: 1200) {
  .header {
    max-width: 1024px;
  }

}

@media screen and (max-width: 1020px) {
  .header {
    max-width: 768px;
    padding-left: 24px;
    padding-right: 24px;
    /* padding: 28px 24px 0; */
  }
}
@media screen and (max-width: 760px) {
  .header {
    max-width: 320px;
    padding: 16px 16px 0;
  }
}
