.places__place {
  padding-top: 80px;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: repeat( 2, max-content);
  gap: 40px;
  grid-template-areas:
  "title url"
  "foto text";
}
@media screen and (max-width: 760px) {
  .places__place {
    padding-top: 50px;
    grid-template-columns: 1fr;
    grid-template-rows: max-content 46px max-content max-content;
    gap: 32px;
    grid-template-areas:
    "title"
    "url"
    "foto"
    "text";
  }
}
