.places__place {
  padding-top: 80px;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: repeat( 2, max-content);
  gap: 41px;
  grid-template-areas:
  "title url"
  "foto text";
}

@media screen and (max-width: 1200px) {
  .places__place {
    /* padding-top: 75px; */
    gap: 48px 30px;

  }
  /* .places__place:first-child {
    padding-top: 0;
  } */

}

@media screen and (max-width: 1020px) {
  .places__place {
    padding-top: 73px;
    gap: 47px 28px;
  }
  /* .places__place:first-child {
    padding-top: 58px;
  } */
}

@media screen and (max-width: 760px) {
  .places__place {
    padding-top: 50px;
    grid-template-columns: 1fr;
    grid-template-rows: max-content 46px max-content max-content;
    gap: 32px;
    grid-template-areas:
    "title"
    "url"
    "foto"
    "text";
  }
}
