.footer {
  display: flex;
  height: 52px;
  justify-content: space-between;
  padding: 92px 48px 24px;
}

@media screen and (max-width: 1020px) {
  .footer {
    padding: 92px 24px 24px;
  }
}

@media screen and (max-width: 760px) {
  .footer {
    /* display: flex; */
    flex-direction: column;
    /* width: 90%; */
    /* min-height: 398px; */
    min-height: 320px;
    justify-content: space-between;
    padding: 64px 16px 24px;
  }
}
