.footer {
  box-sizing: border-box;
  display: flex;
  max-width: 1280px;
  /* height: 52px; */
  justify-content: space-between;
  padding: 92px 48px 24px;
}

@media screen and (max-width: 1200px) {
  .footer {
    /* padding: 92px 24px 24px; */
    padding-top: 86px;
    /* padding-left: 24px;
    padding-right: 24px; */
  }
}

@media screen and (max-width: 1020px) {
  .footer {
    /* padding: 92px 24px 24px; */
    /* padding-top: 86px; */
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 760px) {
  .footer {
    /* display: flex; */
    flex-direction: column;
    /* width: 90%; */
    /* min-height: 398px; */
    min-height: 320px;
    justify-content: space-between;
    padding-top: 64px;
    padding-left: 16px;
    padding-right: 16px;
    /* padding: 64px 16px 24px; */
  }
}
